body{background-image: url("https://img.freepik.com/premium-vector/white-shadows-texture-abstract-background_78370-796.jpg?w=1480");
background-attachment: fixed;
}
.textCenter{text-align: center;}
.buttonCenter1{
    margin-left: 41%;
}
.marginTop1{margin-top: 10px;}
.marginTop2{margin-top: 20px;}
.marginTop4{margin-top: 40px;}
.marginTop8{margin-top: 80px;}
#table1{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-collapse: collapse;
    text-align: center;
}
.borderSolid{border: solid;}
.widthfixed50{width: 50px;}
.fontBold{font-weight: bold;}
#table2{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    border-collapse: collapse;
    width: 300px;
    border: solid;
    text-align: center;
}
table{font-size: 25px;}
h1{color: blue;
font-size: 100px;
}